{% extends "base.html" %}

{% block content %}
<div class="row abnormal-row" >
    <div class="col order-2 col-sm-4 col-md-5 text-center">
        <a href="/"><img src="/static/styles/roboface.jpg" ></a>
    </div>
    <div class="col order-1 col-sm-8 col-md-7">
        <h1>{{message}}</h1>
        <div class="abnormal_buttons-row">
            <a class="rainbow" href="/">
                <i class="fa fa-home"></i> Back to main page
            </a>
            <a class="rainbow" href="/add_video">
                <i class="fa fa-plus"></i> Add Video
            </a>
        </div>
    </div>
</div>
{% endblock %}