{% extends "base.html" %}

{% block content %}
<div class="row non_authorization-row" >
    <div class="col-6 col-sm-4 col-md-5 text-center">
        <a href=""><img src="../static/styles/roboface.jpg" ></a>
    </div>
    <div class="col-6 col-sm-8 col-md-7">
        <h1>{{message}}</h1>
        <div class="row buttons-row">
            <div class="col-6">
                <a class='rainbow rainbow-3' href="/register">
                    Register
                </a>
            </div>
            <div class="col-6">
                <a class='rainbow rainbow-3' href="/login">
                    Log in
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}