<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{{title}}</title>
</head>
<body>
<header>
    <div class="header d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3">
        <a class="my-0 mr-md-auto navbar-brand-text" href="/">
            <h5 class="font-weight-normal">
                <span>VIDOSOS</span><span>the best video base</span>
            </h5>
        </a>
        <nav class="my-2 my-md-0 mr-md-3 text-center">
            {% if current_user.is_authenticated %}
            <a class="buttons" href="/add_video"><i class="fa fa-plus likes_videos"></i> Add Video</a>
            <a class="buttons" href="/my_videos/0">
                My videos
                <span class="likes_videos">{{current_user.likes}} <i class="fa fa-heart"></i></span>
                <span class="likes_videos">{{current_user.videos}} <i class="fa fa-video-camera"></i></span>
            </a>
            <div class="navbar-profile likes_videos"><i class="fa fa-user"></i>&nbsp;{{current_user.login}}</div>
            <a class="buttons buttons-transparent" href="/logout"><i class="fa fa-sign-out"></i> <span>Log out</span></a>
            {% else %}
            <a class="buttons" href="/register">Sign Up</a>
            <a class="buttons" href="/login">Log In</a>
            {% endif %}
        </nav>
    </div>
</header>
<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
<footer>
</footer>
</body>
</html>
