<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>{{title}}</title>
</head>
<body>
<header>
    <div class="head">
    <nav class="navbar navbar-expand-md">
        <a class="navbar-brand navbar-brand-text" href="/">
            <span>VIDOSOS</span><span>the best video base</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="menu">
            <ul class="navbar-nav mr-auto">
            {% if current_user.is_authenticated %}
                <li class="nav-item likes_videos">
                    <i class="fa fa-user"></i>{{current_user.login}}
                </li>
                <li class="nav-item">
                    <a class="buttons" href="/my_videos/0">
                        My videos
                        <span class="likes_videos">{{current_user.likes}} <i class="fa fa-heart"></i></span>
                        <span class="likes_videos">{{current_user.videos}} <i class="fa fa-video-camera"></i></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="buttons" href="/add_video"><i class="fa fa-plus likes_videos"></i> Add Video</a>
                </li>
                <li class="nav-item">
                    <a class="buttons" href="/logout">Log out</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="buttons" href="/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="buttons" href="/login">Log in</a>
                </li>
            {% endif %}
            </ul>
        </div>
    </nav>
    </div>
</header>
<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
<footer>
</footer>
</body>
</html>
