{% extends "base.html" %}

{% block content %}
<script>
    function onSubmit() {
        const file = document.getElementById("file").files[0];

        const formData = new FormData();
        formData.append("file", file);

        const ajax = new XMLHttpRequest();

        ajax.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 201) {
                console.log(this.responseText);
                alert(this.responseText);
            }
        };

        const progress = document.getElementById("progress");
        ajax.upload.onprogress = function (event) {
            console.log(event.total, event.loaded);
            progress.max = event.total;
            progress.value = event.loaded;
        };

        ajax.open("POST", "file_upload_url", true);
        ajax.send(formData);
        return false;
    }
</script>
<body>
<form id='form-id' method="POST" enctype="multipart/form-data" onsubmit="return onSubmit();">
    <input type="file" name="file" id="file"/>
    <input type="submit" name="submit"/>
</form>
<progress id="progress" value="0"/>
</body>
{% endblock %}