{% extends "base.html" %}

{% block content %}
<div class="form">
    <h1>{{ title }}</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <p class="red">
            {{message}}
        </p>
        <div class="input-group mb-5">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-user"></i></span>
            </div>
            {{ form.login(class="form-control", type="text") }}<br>
            {% for error in form.login.errors %}
            <div class="invalid-tooltip">
                {{ error }}
            </div>
            {% endfor %}
        </div>
        <div class="input-group mb-5">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-lock"></i></span>
            </div>
            {{ form.password(class="form-control", type="password") }}<br>
            {% for error in form.password.errors %}
            <div class="invalid-tooltip">
                {{ error }}
            </div>
            {% endfor %}
        </div>
        <p>{{ form.submit(type="submit", class="buttons") }}</p>
    </form>
</div>
{% endblock %}