{% extends "base.html" %}

{% block content %}
<h1>{{ title }} {{video}}</h1>
{% for video in videos %}
<div class="row my_videos-row">
    <div class="col-sm">
        <a href=""><img src="{{ video[1] }}" ></a>
    </div>
    <div class="col-sm">
        {{ video[0] }}
    </div>
</div>
<div class="row my_videos-row">
    <div class="col-sm">
        <a href=""><img src="{{ video[1] }}" ></a>
    </div>
    <div class="col-sm">
        {{ video[0] }}
    </div>
</div>
<div class="row my_videos-row">
    <div class="col-sm">
        <a href=""><img src="{{ video[1] }}" ></a>
    </div>
    <div class="col-sm">
        {{ video[0] }}
    </div>
</div>
{% endfor %}
{% endblock %}