@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700');

html {
    align-items: center;
    text-align: center;
    position: relative;
    min-height: 100%;
}
body{
    font-family: 'Nunito', sans-serif;
    background: url('/static/img/bg.jpg') repeat;
    background-color: rgb(13, 0, 43) !important;
    margin-bottom: 227px;
}
@font-face {
	font-family: 'FontName'; 
	src: url(Neoneon1.otf); 
}
.container[role=main]{
    background: rgb(13, 0, 43, 0.4);
    color: #fff;
    margin-top: 60px;
    padding: 30px 0 100px
}
footer{
    height: 227px;
    background: url('/static/img/footer_bg.jpg') repeat-x;
    position: absolute;
    bottom: 0;
    width: 100%;
}
h1{
    text-transform: uppercase;
    margin-bottom: 20px;
    text-shadow: 2px 2px 2px rgba(228,0,228,1);
    color: #fff;
    line-height: 1.5;
}

.my_videos-row{
    margin-bottom: 20px;
}
.my_videos-row img{
    max-width: 100%;
    max-height: 200px;
}


header {
    background-color: rgb(23, 12, 87);
    min-height: fit-content;
    min-width: fit-content;
    font-size: 0;
}
a.navbar-brand-text:hover, a.navbar-brand-text:focus{
    text-decoration: none;
}
.navbar-brand-text {
    font-family: 'FontName';
    color: rgb(163, 10, 180);
    display: block;
    white-space: nowrap;
}
.navbar-brand-text span{
    display:block;
}
.navbar-brand-text span:nth-child(1){
    font-size:66px;
}
.navbar-brand-text span:nth-child(2){
    font-size:26px;
}
.header a.buttons, .header .navbar-profile{
    padding: 10px 16px;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 7px;
}
.header a:hover, .header a:focus {
    text-decoration: none;
}
.header .navbar-profile{
    cursor: default;
}


.likes_videos{
    font-size: 32px;
    color: #e400e4
}


form{
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin: 0 auto;
}

.form {
      font-family: sans-serif;
      font-size: 26px;
      color: rgb(163, 10, 180);
      text-align: center;
      height: fit-content;
      min-width: fit-content;
}
.form-control {
    font-size: inherit;
}
.form-control:focus {
    border-color: #e400e4;
    box-shadow: 0 0 0 .2rem rgba(228, 0, 228, .25);
}

.invalid-tooltip{
    display: block !important;
    border-radius: 0;
    font-size: 1rem;
}

.btn {
    border: none;
    color: white;
    padding: 4px 8px;
    font-size: 16px;
    cursor: pointer;
}

.cntr{
  margin-right: 30px;
  margin-left: 30px;
  text-align: left;
  min-width: fit-content;
}

.top{
  padding-top: 10px;
  padding-bottom: 50px;
  background-color: rgb(13, 0, 43);
  height: fit-content;
  min-width: fit-content;
}

.red{
    color: rgb(255, 20, 40) !important;
    font-size: 32px !important;
    font-family: sans-serif !important;
    font-weight: bold !important;
}

.word{
    font-size: 24px;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
}

.text_area{
    font-size: 24px !important;
    color: black !important;
    font-family: sans-serif !important;
}

.other_btn{
    max-width: 100%;
    height: 100%;
    border-radius: 0px !important;

}

form.h1 {
    font-family: 'FontName'
}

video{
    max-width:100%;
}

#dynamic {
  fill:#333;
  padding:0 5px;
}

#dynamic.off {
  fill:#ccc;
}

#bar {
    width: 400px;
    height: 20px;
}

#bar_w {
  width: 300px;
  height: 20px;
}

#time {
    color:#999;
    font-size:12pt;
}

#volume {
  vertical-align	: middle;
  width: 100px;
}

progress {
  vertical-align	: middle;
  border-radius: 2px;
  width: 100%;
  height: 22px;
  margin-top: auto;
}
progress::-webkit-progress-bar {
 background-color: #0091EA;
  border-radius: 2px;
}
progress::-webkit-progress-value {
  background-color: rgb(96, 9, 122);
   border-radius: 2px;
}

#control {
vertical-align	: middle;
margin-top: 0px;
top:0px;
bottom:0px;
}

#likes {
    margin-left: 10px;
    color: #e400e4
}

.description {
    margin-left: 10px;
    margin-top: 10px;
    background-color: rgb(38, 8, 48);
    padding: 10px 15px;
    font-size: 24px;

}

.buttons {
    color: #a675b3;
    text-align: center;
    line-height: 20px;
    margin: 5px auto;
    font: normal 32px sans-serif;
}
.buttons:not(.active) {
  box-shadow: inset 0 1px 1px rgba(111, 55, 125, 0.8), inset 0 -1px 0px rgba(63, 59, 113, 0.2), 0 9px 16px 0 rgba(0, 0, 0, 0.3), 0 4px 3px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px #150a1e;
  background-image: linear-gradient(#3b2751, #271739); /*<--#007bff, #6610f2)-->*/
  text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 -1px 0 #311d47;
}
.buttons:not(.active):hover,
.buttons:not(.active):focus {
  text-decoration: none;
  transition: color 200ms linear, text-shadow 500ms linear;
  color: #fff;
  text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 0 10px rgba(223, 206, 228, 0.4), 0 0 2px #2a153c;
}
.buttons:not(:hover) {
    transition: 0.6s;
}
input[type="submit"]{
    padding: 12px 80px;
}
.buttons.buttons-transparent{
    background: transparent;
    border: none;
    box-shadow: none;
}

/* ===== non_authorization & abnormal_situation ===== */
.textpage-row img{
    max-width: 100%;
    max-height: 200%;
}
.textpage-row h3{
    line-height:1.5;
}
.textpage_buttons-row{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 42px;
}

.textpage-row a{
    margin: 0 20px 25px 0;
}

a.rainbow {
    outline: 4px solid #e400e4;
    padding: 16px 48px;
    text-decoration: none;
    font-size: 34px;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    background: #000;
    text-align: center;
}
a.rainbow:hover,
a.rainbow:focus,
a.rainbow:active{
    /*outline: none;*/
    color: #fff !important;
}
a.rainbow:hover,
a.rainbow:focus{
      background-image: linear-gradient(to right, #e400e4, #960081, #2e0097, #000075, #2e0097,#960081, #e400e4);
      animation: slidebg 2s linear infinite;
}
@keyframes slidebg {
  to {
    background-position:30vw;
  }
}

/* ===== scrolling videos ===== */
.scroll_videos{
    height: 650px;
    overflow-y: scroll;
    background: rgba(0, 0, 0, 0.5);

}

.playpause {
  background-image:url(http://png-4.findicons.com/files/icons/2315/default_icon/256/media_play_pause_resume.png);
  background-repeat:no-repeat;
  width:50%;
  height:50%;
  position:absolute;
  left:0%;
  right:0%;
  top:0%;
  bottom:0%;
  margin:auto;
  background-size:contain;
  background-position: center;
}
