html {
  /* background: url(/vidosos/static/styles/back.bmp) no-repeat; */
  /*background: url(back.bmp) no-repeat;*/
    align-items: center;
    text-align: center;
    position: relative;
    min-height: 100%;
}

body{
    background: url('bg.jpg') repeat;
    background-color: rgb(13, 0, 43) !important;
    margin-bottom: 227px;
}
@font-face {
	font-family: 'FontName'; 
	src: url(Neoneon1.otf); 
}
.container[role=main]{
    background: rgb(13, 0, 43, 0.4);
    color: #fff;
    margin-top:60px;
    padding: 30px 0 100px
}
footer{
    height: 227px;
    background: url('footer_bg.jpg') repeat-x;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.my_videos-row{
    margin-bottom: 20px;
}
.my_videos-row img{
    max-width: 100%;
    max-height: 200px;
}
.non_authorization-row{
    margin-left: 20px;
}
.non_authorization-row img{
    max-width: 100%;
    max-height: 200%;
}
.navbar-brand-text {
    font-family: 'FontName';
    font-size: 50px;
    color: rgb(163, 10, 180);
    margin-top: 10px;
}
.navbar-brand-text span{
    display:block;
}
.navbar-brand-text span:nth-child(1){
    font-size:66px;
}
.navbar-brand-text span:nth-child(2){
font-size:26px;
}
}

.form {
      font-family: sans-serif;
      font-size: 26px;
      color: rgb(163, 10, 180);
      margin-right: 150px;
      margin-left: 150px;
      padding-top: 50px;
      padding-bottom: 50px;
      text-align: center;
      height: fit-content;
      min-width: fit-content;
}

.form-control {
    font-size: inherit;
}

.btn {
    border: none;
    color: white;
    padding: 4px 8px;
    font-size: 16px;
    cursor: pointer;
}

.cntr{
  margin-right: 30px;
  margin-left: 30px;
  text-align: left;
  min-width: fit-content;
}

.top{
  padding-top: 10px;
  padding-bottom: 50px;
  background-color: rgb(13, 0, 43);
  height: fit-content;
  min-width: fit-content;
}

.red{
    color: rgb(255, 20, 40) !important;
    font-size: 32px !important;
    font-family: sans-serif !important;
    font-weight: bold !important;
}

.word{
    font-size: 18px;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
}

.text_area{
    font-size: 24px !important;
    color: black !important;
    font-family: sans-serif !important;
}

.other_btn{
    max-width: 100%;
    height: 100%;
}

form. h1 {
    font-family: 'FontName'
}

video{
    max-width:100%;
}

/*.head{
  background-color: rgb(23, 12, 87);
  text-align: center;
  height: 100px;
  min-height: fit-content;
  min-width: fit-content;
}*/
.navbar {
    background-color: rgb(23, 12, 87);
    min-height: fit-content;
    min-width: fit-content;
}
.navbar-brand.navbar-username{
    color: #fff;
}

#dynamic {
  fill:#333;
  padding:0 5px;
}

#dynamic.off {
  fill:#ccc;
}

#bar {
    width: 400px;
    height: 20px;
}

#bar_w {
  width: 300px;
  height: 20px;
}

#time {
    color:#999;
    font-size:12pt;
}

#volume {
  width: 100px;
}

progress {
  vertical-align	: middle;
  border-radius: 2px;
  width: 100%;
  height: 22px;
  margin-top: auto;
}
progress::-webkit-progress-bar {
 background-color: #0091EA;
  border-radius: 2px;
}
progress::-webkit-progress-value {
  background-color: rgb(96, 9, 122);
   border-radius: 2px;
}

#control {
vertical-align	: middle;
margin-top: 0px;
top:0px;
bottom:0px;
}

#likes {
  background-color: rgb(86, 26, 104);
  margin-left: 10px;
}

.description {
  margin-left: 10px;
  margin-top: 10px;
  background-color: rgb(38, 8, 48);
  height: 300px;
}

.buttons {
  width: 150px;
  text-decoration: none;
  color: #a675b3;
  text-align: center;
  line-height: 20px;
  display: block;
  margin: 5px auto;
  font: normal 28px sans-serif;
}

a.buttons:not(.active) {
  box-shadow: inset 0 1px 1px rgba(111, 55, 125, 0.8), inset 0 -1px 0px rgba(63, 59, 113, 0.2), 0 9px 16px 0 rgba(0, 0, 0, 0.3), 0 4px 3px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px #150a1e;
  background-image: linear-gradient(#3b2751, #271739); /*<--#007bff, #6610f2)-->*/
  text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 -1px 0 #311d47;
}

a.buttons:not(.active):hover,
a.buttons:not(.active):focus {
  transition: color 200ms linear, text-shadow 500ms linear;
  color: #fff;
  text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 0 10px rgba(223, 206, 228, 0.4), 0 0 2px #2a153c;
}
a.buttons:not(:hover) {
    transition: 0.6s;
}
@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700');

body{
  font-family: 'Nunito', sans-serif;
}

.buttons-row{
    margin-top: 120px;
}
.rainbow{
    text-decoration: none !important;
    font-size: 34px;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
}
.rainbow-3:hover{
      background-image: linear-gradient(to right, #e400e4, #960081, #2e0097, #000075, #2e0097,#960081, #e400e4);
      animation: slidebg 2s linear infinite;
}
@keyframes slidebg {
  to {
    background-position:30vw;
  }
}
a.rainbow {
    border: 4px solid #e400e4;
    padding: 20px 48px;
}
a.rainbow:hover,
a.rainbow:focus,
a.rainbow:active,
a.rainbow:link {
    border: none;
    color: #fff !important;
}
